{% extends "BlogBundle::base.html.twig" %}

{% block pagetitle %}{{ post.title }}{% endblock %}


{% block contentTitle %}{{ post.title }}{% endblock %}

{% block content %}
  <div class="left-side">
      
      {% for label, flashes in app.session.flashbag.all %}
          {% for flash in flashes %}
              <div class="alert alert-{{ label }}">
                  {{ flash }}
              </div>
          {% endfor %}
      {% endfor %}
      
                        <article class="post">
                            <header>
                                <h1>{{ post.title }}</h1>

                                <div class="meta-data">
                                    <div class="author">Autor <a href="#">{{ post.author.username }}</a></div>
                                    <div class="create-date">{{ post.publishedDate|date('d.m.Y, H.m') }}</div>
                                </div>
                            </header>

                            <div class="thumbnail">
                                <div class="meta-data">
                                    <div class="categories">
                                        Kategoria: 
                                        <a href="{{ path('blog_category', {'slug':post.category.slug }) }}">{{ post.category.name }}</a>
                                    </div>

                                    <div class="tags">
                                        Tagi: 
                                        {% for tag in post %}
                                            <a href="{{ path('blog_tag', {'slug':tag.slug }) }}">{{ tag.name }}</a>
                                        {% endfor %}
                                    </div>
                                </div>

                                <img src="img/default-thumbnail.jpg" alt="">
                            </div>
                                    {{ post.content|raw }}
                        </article>

                        <div class="notification block">
                            Aby dodać komentarz <strong>musisz się <a href="#">zalogować lub zarejestrować</a></strong>
                        </div>
                       
                        
                        {% if app.user %}
                        <section class="post-comments" id="post-comment">
                            <header>
                                <h3>{{ post.comments|length }}</h3>
                            </header>

                            <div class="comment">
                                <img class="thumbnail" src="{{ asset(app.user.avatar) }}" alt="">

                                <div class="body">
                                    <div class="author">{{ app.user.username }}</div>
                                    <div class="create-date">{{ date()|date('d/m/Y') }}</div>

                                    <div class="clearfix"></div>
                                    
                                    {{ form(commentForm, {'action' : '#post-comment'}) }}
                                    
                                </div>
                            </div>
                            {% endif %}
                            
                            {% for comment in post.comments %}
                            <div class="comment">
                                <img class="thumbnail" src="{{ asset(comment.author.avatar) }}" alt="">

                                <div class="body">
                                    <div class="author">
                                        {{ comment.author.username }}
                                        
                                        {% if is_granted('ROLE_ADMIN') %}
                                            <div class="divider"></div>
                                            <button data-id='{{ comment.id}}' class="delete delete-comment">Usuń</button>
                                        {% endif %}
                                        
                                        
                                    </div>
                                        <div class="create-date">{{ comment.createDate|date('d/m/Y')}}</div>

                                    <div class="clearfix"></div>

                                    <p>{{ comment.comment }}</p>
                                </div>
                            </div>
                            {% endfor %}
                          
                        
                        </section>

                    </div> <!-- .left -->              
{% endblock %}

{% if is_granted('ROLE_ADMIN') %}
    {% block javascripts %}
        {{ parent() }}
        
        <script>
            $(document).ready(function(){
                
                $('.delete-comment').on('click',  function(){
     
                   console.log(this);
                   
                   var btn = $(this);
                   var id = btn.attr('data-id');
                   var url = '{{ path('blog_deleteComment') }}/' + id;
                   
                  
                   
                  $.get(
                        '{{ path('blog_deleteComment') }}',
                        {
                            commentId: id
                        },
                        function(dane){
                            console.log(dane.message);
                            
                            
                            if(dane.status === 'ok'){
                               btn.closest('.comment').remove(); 
                            }
                        }
                    );
                   
                   
                   
                   
                   
                   
                });
                
            });
        </script>
        
        
    {% endblock %}
{% endif %}