{% extends "BlogBundle::base.html.twig" %}

{% set hideSidebar  = true %}
{% set hideSearch  = true %}

{% block pagetitle %}Zaloguj się lub zarejestruj{% endblock %}

{% block contentTitle %}Logowanie i rejestracja{% endblock %}

{% block content %}
    
  

       {# <div id="main">
            <div class="header">
                <div class="pos-center">
                    <h2 class="left-side">Ustawienia konta</h2>
                </div>
            </div>#}

            <div class="content">
                <div class="pos-center">
                    <div class="two-cols account-settings">
                        <div class="col">
                            <h2 class="strong">Zmień dane konta</h2>
                            
                            
                            {{ form_start(accountSettginsForm) }}

                            <div class="avatar-row">
                                <img src="{{ asset(user.avatar) }}" alt="">
                                   {{ form_row(accountSettginsForm.avatarFile) }}
                            </div>
                            
                                {{ form_rest(accountSettginsForm) }}

                            {{ form_end(accountSettginsForm) }}
                            
                         
                        </div>

                        <div class="col col-bdl">
                            <h2 class="strong">Zmiana hasła</h2>
                            
                            {{ form(changePasswdForm) }}

                          
                        </div>
                    </div>
                </div> <!-- .content -->
                <div class="clearfix"></div>
            </div> <!-- .pos-center -->
        </div> <!-- #main -->

{% endblock %}     
